/* цвет основного фона #e5e5e5 */
/* цвет фона футера #2f303a */
/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* цвет адреса rgba(255, 255, 255, 0.6) */
/* цвет фона не активной кнопки #F5F4FA */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white: #ffffff;
  --secondary-white: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--primary-text-color);
  background-color: #e5e5e5;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
footer {
  background-color: #2f303a;
}
header {
  background-color: #ffffff;
}
ul {
  list-style: none;
}

/* хедер */
/* .page-header {
} */
/* логотип */
.logo {
  color: var(--accent-color);
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-second-color {
  color: #000000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/* навигация по страницах */
.site-nav-link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
/* навигация по контактах */
.cont-nav-link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.cont-nav-link:hover,
.cont-nav-link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

/* основная часть */
/* блок хиро */
.hero {
  background-color: #2f303a;
}
.hero-text {
  color: var(--primary-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* блок кнопок */
.hero-button {
  color: var(--primary-white);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--title-text-color);
  background-color: var(--primary-white);
}
/* .button.primary {
  color: var(--primary-white);
  background-color: var(--accent-color);
}
.button.secondaty {
  color: var(--title-text-color);
  background-color: #f5f4fa;
} */
/* блок преимущества */
/* .benefits {
} */
.benefits-title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.benefits-text {
  line-height: 1.71;
}
/* блок работы */
/* .work {
} */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* блок команда */
/* .team {
} */
.team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* блок фильтр */
/* .filter {
} */
.filter-button {
  color: var(--title-text-color);
  background-color: var(--primary-white);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--primary-white);
  background-color: var(--accent-color);
}
/* блок проекты */
/* .projects {
} */
.projects-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-description {
  font-size: 16px;
  line-height: 1.88;
}

/* футер */
/* блок адреса */
.address {
  color: var(--primary-white);
  font-weight: 400;
  line-height: 1.7;
}
/* блок контактов */
.contacts a {
  color: var(--secondary-white);
  line-height: 1.17;
  text-decoration: none;
}
/* логотип */
.logo-second-color-footer {
  color: var(--primary-white);
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
